.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  margin: 15px 0;
  width: 280px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
}

p {
  margin: 10px;
  font-size: 18px;
}